@using ASP.NetProject.Models

@model ProductModel
<div class="row">
	<div class="col-md-3">
		<form action="/product/Edit" method="post">
			<div class="form-horizontal">
				<input type="hidden" name="Id" value="@Model.Id" />
				<div class="form-group">
					<label class="control-label col-md-6">
						Name
					</label>
					<input type="text" name="Name" value="@Model.Name" class="col-md-6" />
				</div>
				<div class="form-group">
					<label class ="control-label col-md-6">
						Description
					</label>
					<input type="text" name="Description" value="@Model.Description" class="col-md-6" />
				</div><div class="form-group">
					<label class="control-label col-md-6">
						Price
					</label>
					<input type="text" name="Price" value="@Model.Price" class="col-md-6" />
				</div><div class="form-group">
					<label class="control-label col-md-6">
						Quantity
					</label>
					<input type="text" name="Quantity" value="@Model.Quantity" class="col-md-6" />
				</div><div class="form-group">
					<input type="submit" value="update" class="btn btn-primary" />
					<a href="/product/index">back to product index</a>
				</div>
			</div>
		</form>
	</div>
</div>
