@using ASP.NetProject.Models

@model List<ProductModel>
<h4> This is the index for Product Contoller </h4>
<h6> Welcome </h6>
<a href="/product/add" class="btn btn-secondary">
	add product	
</a>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Price</th>
			<th>Quantity</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var prod in Model)
		{
			<tr>
				<td>@prod.Name</td>
				<td>@prod.Description</td>
				<td>&#x20A6; @prod.Price.ToString("N")</td>
				<td>@prod.Quantity</td>
				<td><a href="/product/edit/@prod.Id">edit</a></td>
				<td>
					<form asp-action="Delete" asp-controller="Product" method="post" data-id="@prod.Id" onsubmit="return confirmDelete();">
						@Html.AntiForgeryToken()
						<input name="_method" type="hidden" value="DELETE" />
						<input type="hidden" name="id" value="@prod.Id" />
						<input type="submit" value="Delete" class="btn btn-danger btn-xs" />
					</form>
				</td>
			</tr>
		}
	</tbody>
</table>
<script>
	function confirmDelete() {
		return confirm('Are you sure you really want to delete this product?');
	}
</script>